*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Bricolage Grotesque', sans-serif;

}


/*#region BASE*/
/* html,body{height: 100%; overflow: visible;} */
img{
    width: 100px;
}

::-webkit-scrollbar {
    display: none;
  }
/*#endregion*/

/*#region HOME*/
#home{
    /* background-color: rgba(0, 0, 0, 0.393); */
    height: 200vh;
    width: 100%;
}
#home .cont{
    background-color : black;
    width            : 100%;
    height           : calc(100vh);
    margin           : 0 auto;
    position: sticky;
    top: 0px;
}
#home .scaler{
    width: 800px;
    position: absolute;
    top: 50%;left: 50%;transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
#home img{
    width: 100% !important;
}
#home img:first-child{
    opacity: 0;
}
#home img:last-child{
    opacity: 0;
}
/*#endregion*/

/*#region TEXT*/
#text{
    position: relative;
    height: 120vh;
    margin-top: 500px;
    /* background-color: red; */
}

#text p{
    font-size: 50px;
    color: #474747;
    text-align: center;
    position: sticky;
    top: 50%;
    width: 60%;
    margin: 0 auto;
    max-width: 700px;
    z-index: -100;
    /* background-color: blue; */
}
#text img{
    position: absolute;
    bottom: 0%;
    left: 50%;
    /* transform: translateX(-50%) translateY( calc(100% - 200px)); */
    width: 20%;
    border-radius: 35px;
    z-index: 500;
    -webkit-filter: drop-shadow(5px 0px 30px rgba(0,0,0,0.6));
    filter: drop-shadow(5px 0px 30px rgba(0,0,0,0.6));
}

#sep-1{
    height: 10px;
    width: 100%;
    /* background-color: green; */
}
/*#endregion*/


/*#region MAIN*/
main{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 20px;
    margin-top: 350px;
    max-width: 1500px;
}

main h2{
    font-size: 80px;
}

main section{
    background-color: black;
    padding: 70px;
    border-radius: 30px;
    overflow: hidden;
}
main section:nth-child(1){
    grid-column: 1 / 3;
}
main section:nth-child(2){
    grid-column: 1 / 3;
}
main section:nth-child(5){
    grid-column: 1 / 3;
}
/*#endregion*/


/*#region CURVE*/
#curve{position: relative;overflow: hidden;}
#curve img{
    position: absolute;
    top: 30px;
    width: 100%;
    left: -20px;
    z-index: 0;
}
#curve:hover > .shadow{
    opacity: 0.8;
}
#curve .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #000000, #ffffff00);
    top: 0;left: 0;
    transition: opacity 0.5s;
    border-radius: 30px;
}
#curve h2{
    position: sticky;
    background: linear-gradient(to right, #d875ff, #ffffff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#curve p{
    position: sticky;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    color: #F0F0F0;
}
/*#endregion*/

/*#region ORGANAZE*/
#organize div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    gap: 10px;
    margin: 0 auto;
    margin-top: 60px;


}
#organize div img{
    width: 100%;
    transition: transform 0.2s;
}
#organize div img:first-child{
    transform: rotate(-4deg);
}
#organize div img:hover{
    transform: rotate(-5deg);
}
#organize h2{
    text-align: center;
}
#organize p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #F0F0F0;
    margin-top: 80px;
}
/*#endregion*/

/*#region ICON*/
#icon h3{
    font-size: 48px;
    text-align: center;
}
#icon{
    display: flex;
    flex-direction: column;
}
#icon img{
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: auto;
    transition: transform 0.3s;
}
#icon:hover > img{
    transform: scale(1.05);
}
/*#endregion*/

/*#region CARD*/
#card h3{
    font-size: 48px;
    text-align: center;
}
#card img{
    width: 60%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

#card:hover > img{
    transform: scale(1.05);
}
/*#endregion*/

/*#region END*/
#end{
    position: relative;
    height: 90vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#end img:first-child{
    width: 100%;
    max-height: 80%;
    transition: transform 0.3s;
}
#end img:last-child{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: block;
}

#end:hover > img:first-child{
    transform: scale(1.05);
}

footer{
    height: 100px;
}
/*#endregion*/
